.header {
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 10px;
}

.header__title {
    font-style: italic;
    font-size: 50px;
    line-height: 54px;
    color: var(--constant-accent);
}